<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Todo List | HackGT//Tech Square Labs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
  </head>
  <body>
    <header class="navbar navbar-default">
      <div class="navbar-header">
        <div class="navbar-brand">Python/Flask Workshop by HackGT &amp; Tech Square Labs</div>
      </div>
    </header>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          Todo List
        </div>
        <div class="panel-body">
          body
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script> -->
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
